
<div class="home">

    <div>
        MOST RECIENT POST
    </div>
    <%= render partial: "pages/post", collection: @posts %>
    <div>
        MOST RECIENT COMMENT
    </div>
    <%= render partial: "pages/comment", collection: @comments %>


    <div>
        MOST RECIENT LIKES
    </div>
    <%= render partial: "pages/like", collection: @comments %>
<div>

