
<%if  (notice || alert)%>
    <div class="alert alert-danger d-flex justify-content-center" role="alert">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </div>

<%else%>

<%end%>